* {
    margin: 0 0;
    padding: 0 0;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* HEADER */

header {
    background-color: white;
    height: 64px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    padding-left: 24px;
    width: 100%;
    height: auto;
}

header ul {
    display: flex;
    padding-right: 24px;
    list-style: none;
}

header li {
    padding: 0px 8px;

}

nav a:hover {
    color: rgb(0, 0, 0);
}

header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(111, 111, 111);
}

nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(111, 111, 111);
    transition: color 300ms;
}

header p {
    font-size: 2rem;
}

/* BANNER */

.banner-hero {
    width: 100%;
    height: auto;
    background-color: rgb(160, 160, 160);
    padding: 32px 24px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: repeat(5, 100px);
    column-gap: 24px;
}

.banner-hero img {
    grid-column: 1 / span 1;
    grid-row: 1 / 6;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-hero h1 {
    grid-column: 2 / 2;
    grid-row: 2 / span 1;
    font-size: 1.6rem;
}

.banner-hero p {
    grid-column: 2 / 2;
    grid-row: 3 / span 1;
}

.banner-hero a {
    grid-column: 2 / 2;
    grid-row: 4 / span 1;
    height: 32px;
    width: 50%;
    text-decoration: none;
    text-align: center;
    background-color: rgb(69, 69, 69);
    color: rgb(213, 213, 213);
}

@media only screen and (max-width: 425px) {
    .banner-hero {
        width: 100%;
        height: auto;
        background-color: rgb(160, 160, 160);
        padding: 0px 16px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(5, auto);
    }

    .banner-hero img {
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .banner-hero h1 {
        grid-column: 1 / 1;
        grid-row: 3 / span 1;
        font-size: 1.6rem;
    }

    .banner-hero p {
        grid-column: 1 / 1;
        grid-row: 4 / span 1;
    }

    .banner-hero a {
        grid-column: 1 / 1;
        grid-row: 5 / span 1;
        height: 32px;
        width: 100%;
        text-decoration: none;
        text-align: center;
        background-color: rgb(69, 69, 69);
        color: rgb(213, 213, 213);
        margin: 24px 32px;
    }
}