* {
    margin: 0 0;
    padding: 0 0;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

/* HEADER */

header {
    background-color: white;
    height: 64px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    padding-left: 24px;
    width: 100%;
    height: auto;
}

header ul {
    display: flex;
    padding-right: 24px;
    list-style: none;
}

header li {
    padding: 0px 8px;

}

nav a:hover {
    color: rgb(0, 0, 0);
}

header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(111, 111, 111);
}

nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(111, 111, 111);
    transition: color 300ms;
}

header p {
    font-size: 2rem;
}

/* BANNER */

.banner-hero {
    width: 100%;
    height: auto;
    background-color: rgb(160, 160, 160);
    padding: 32px 24px;
}

.banner-hero img {
    display: grid;
    grid-column-start: 1;
    width: 60%;
    height: auto;
    margin-right: 24px;
}

.banner-text {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: repeat(4, 1fr);
    gap: 20px 0px;
}

.banner-text h1 {
    display: grid;
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 1.6rem;
}

.banner-text p {
    display: grid;
    grid-column-start: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.banner-text a {
    height: 32px;
    width: 100%;
    display: grid;
    align-items: center;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    text-decoration: none;
    text-align: center;
    background-color: rgb(69, 69, 69);
    color: rgb(213, 213, 213);
}